<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="import" href="{{ url_for('static', filename='vulcanized.html') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  {% block head %}{% endblock %}
</head>
<style is="custom-style">
  paper-dropdown-menu.custom-dropdown {
    --paper-input-container-label: {
      color: white;
    };
    --paper-dropdown-menu-icon: {
      color: white;
    };
  }
  paper-scroll-header-panel {
    background-color: #009788!important;
    height: 250px;
  }
  .dropdown-icon {
    width: 20px;
    --iron-icon-fill-color: #009788;
  }
  .verticalSpacer {
    height: 20px;
  }
  #dialogMenuHolder {
    position: absolute;
  }
</style>
<body class="fullbleed layout vertical">
  <div>  <!-- Prevent the main-holder from pushing into the header. -->
    <paper-scroll-header-panel>
      <paper-toolbar class="tall" id="main-toolbar">
        <div class="middle horizontal layout center flex">
          <div class="flex">
            <a href="{{ url_for('landing') }}" id="logoLandingAnchor">
              <img src="{{ url_for('static', filename='img/ufo-logo.svg') }}" alt="uProxy Logo" height="80" width="80">
            </a>
          </div>
          <div class="flex"></div>
          <div class="vertical layout flex-4">
            <div class="verticalSpacer"><p></div>
            <ufo-search-bar class="flex" user-resources="{{user_resources}}" proxy-server-resources="{{proxy_server_resources}}" search-resources="{{landing_resources}}">
            </ufo-search-bar>
            <div class="verticalSpacer"></div>
          </div>
          <div class="flex"></div>
          <ufo-dropdown-button username="{{session['username']}}">
          </ufo-dropdown-button>
        </div>
      </paper-toolbar>
    </paper-scroll-header-panel>
  </div>
  <div class="layout vertical">
    <div class="horizontal center-justified layout" id="dialogMenuHolder">
      <ufo-dropdown-menu resources="{{landing_resources}}">
      </ufo-dropdown-menu>
    </div>
  </div>
  <div class="layout vertical" id="main-holder">
    {% block body %}{% endblock %}
    <br>
    <div class="horizontal center-justified layout">
      <div id="jigsaw-logo-holder">
        <img src="{{ url_for('static', filename='img/jigsaw_small_2x.png') }}" alt="Jigsaw Logo" height="30" id="jigsaw-logo">
      </div>
    </div>
    <br>
    <br>
    <p></p>
  </div>

  <script src="{{ url_for('static', filename='globalHelperFunctions.js') }}"></script>
</body>
</html>
