<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="import" href="{{ url_for('static', filename='vulcanized.html') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  {% block head %}{% endblock %}
</head>
<body class="fullbleed layout vertical">
  <paper-scroll-header-panel>
    <paper-toolbar class="tall" id="main-toolbar">
      <div class="middle horizontal layout center flex">
        <div class="flex">
          <img src="{{ url_for('static', filename='ufo-logo.svg') }}" alt="uProxy Logo" height="80" width="80">
        </div>
        <div class="flex"></div>
        <paper-input class="center flex-4" id="search-bar">
          <paper-icon-button icon="search" prefix></paper-icon-button>
        </paper-input>
        <div class="flex"></div>
        <div id="username-and-menu" class="horizontal layout center flex">
          <div class="title flex" id="main-toolbar-title">foo</div>
          <paper-icon-button icon="arrow-drop-down" title="menu" id="menu-dropdown" class="flex"></paper-icon-button>
        </div>
      </div>
    </paper-toolbar>
    <div class="layout vertical">
      {% block body %}{% endblock %}
    </div>
  </paper-scroll-header-panel>

  <script src="{{ url_for('static', filename='globalHelperFunctions.js') }}"></script>
</body>
</html>
