{% extends "base.html" %}
{% block title %}Landing{% endblock %}
{% block body %}
  <paper-display-template id="userDisplayTemplate">
    <header-container resources="{{resources}}" has-add-flow="true" header-type="user">
      <user-list resources="{{resources}}" id="userList" auto-get=true>
      </user-list>
    </header-container>
  </paper-display-template>

  <paper-display-template id="proxyServerDisplayTemplate">
    <header-container resources="{{resources}}" has-add-flow="true" header-type="proxyServer">
      <server-list resources="{{resources}}" id="proxyList" auto-get=true>
      </server-list>
    </header-container>
  </paper-display-template>

  <paper-display-template id="oauthDisplayTemplate">
    <header-container resources="{{resources}}" header-type="oauth">
      <oauth-configuration resources="{{resources}}" configuration="{{configuration_resources}}">
      </oauth-configuration>
    </header-container>
  </paper-display-template>

  {% if session['domain'] %}
    <paper-display-template id="chromePolicyDisplayTemplate">
      <header-container resources="{{resources}}" header-type="chromePolicy">
        <chrome-policy resources="{{resources}}">
        </chrome-policy>
      </header-container>
    </paper-display-template>
  {% endif %}

  <paper-display-template id="settingsDisplayTemplate">
    <header-container resources="{{resources}}" header-type="settings">
      <settings-configuration resources="{{resources}}">
      </settings-configuration>
    </header-container>
  </paper-display-template>
{% endblock %}
