{% extends "base.html" %}
{% block title %}New Landing{% endblock %}
{% block body %}
  <div class="horizontal center-justified layout">
    <paper-material elevation="1">
      <div class="heading">
        <paper-toolbar class="medium-tall">
          <div class="middle flex">
            <div class="horizontal center-justified layout">
              <div class="title">Users</div>
              <a id='add_users' href="{{ url_for('add_user') }}">
                <paper-button class="anchor-button"><iron-icon src="{{ url_for('static', filename='add-users.svg') }}"></iron-icon>Add Users</paper-button>
              </a>
            </div>
          </div>
        </paper-toolbar>
      </div>
      <div class="content">
        <show-users-list get-users-url="{{url_for('user_list_json')}}"></show-users-list>
      </div>
    </paper-material>
  </div>
  <br>
  <!--<div class="horizontal center-justified layout">
    <paper-material elevation="1">
      <div class="heading">
        <paper-toolbar class="medium-tall">
          <div class="middle flex">
            <div class="horizontal center-justified layout">
              <div class="title">Users</div>
              </a>
            </div>
          </div>
        </paper-toolbar>
      </div>
      <div class="content">
        <paper-listbox>
        </paper-listbox>
      </div>
    </paper-material>
  </div> -->

  <script>
    var lastdata;
    var handleUserListResponse = function(data) {
      console.log(data);
      lastdata = data;
    }
  </script>
{% endblock %}
