{% extends "layout.html" %}
{% block title %}Proxy Server(s){% endblock %}
{% block head %}
  <link rel="import" href="{{ url_for('static', filename='bower_components/paper-button/paper-button.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='bower_components/paper-input/paper-input.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='textarea.html') }}" />
{% endblock %}
{% block body %}
  <form id="proxy-edit-add-form" method="post">
    <paper-input label="IP Address" type="text" name="ip_address" value="{{ proxy_server.ip_address }}" required></paper-input>
    <paper-input label="Name" type="text" name="name" value="{{ proxy_server.name }}" required></paper-input>

    <!-- TODO add the ability to upload files -->

    <p>
      For the private key, please copy the full contents of a private key file
      with the ability to access a proxy server.  The beginning of the file
      should resemble "-----BEGIN RSA PRIVATE KEY-----".
    </p>
    <ufo-textarea label="SSH Private Key" name="private_key" value="{{ proxy_server.private_key }}" required></ufo-textarea>

    <p>
      For the hosts public key, you can usually get this value from either
      /etc/ssh/ssh_host_rsa_key.pub or from the line in $HOME/.ssh/known_hosts on
      your server.
    </p>
    <p>
      For now, please be sure to use an RSA key (the text should begin with ssh-rsa).
    </p>
    <paper-input label="SSH Host Public Key" type="text" name="public_key" value="{{ proxy_server.public_key }}" required></paper-input>
    <input type="hidden" name="_xsrf_token" value="{{ xsrf_token() }}">
    <paper-button raised onclick="submitByFormId('proxy-edit-add-form')" class="form-submit-button" type="submit">Submit</paper-button>
  </form>
{% endblock %}
