{% extends "layout.html" %}
{% block title %}Proxy Server(s){% endblock %}
{% block body %}
  <div class="top-buttons">
    <a href="{{ url_for('proxyserver_add') }}">
      <paper-button raised class="anchor-button">Add New Proxy Server
      </paper-button></a>
    <br />
  </div>
  <div id="proxy-card-holder">
  {% for proxy_server in proxy_servers %}
    <paper-card heading="{{ proxy_server.name }}">
      <div class="card-content">
        <p>{{ proxy_server.ip_address }}</p>
        <ufo-collapse-button label="Public Key (for verification)" button-text="Show/hide SSH Public Key" collapse-text="{{ proxy_server.public_key }}"></ufo-collapse-button></br>
        <ufo-collapse-button label="Private Key (for verification)" button-text="Show/hide SSH Private Key" collapse-text="{{ proxy_server.private_key }}"></ufo-collapse-button>
      </div>
      <div class="card-actions">
        <a href="{{ url_for('proxyserver_edit', server_id=proxy_server.id) }}">
          <paper-button class="anchor-button">Edit</paper-button></a>
        <a href="{{ url_for('proxyserver_delete', server_id=proxy_server.id) }}">
          <paper-button class="anchor-button">Delete</paper-button></a>
      </div>
    </paper-card>
  {% endfor %}
  </div>
{% endblock %}
