{% extends "layout.html" %}
{% block title %}Proxy Server(s){% endblock %}
{% block head %}
  <link rel="import" href="{{ url_for('static', filename='bower_components/iron-collapse/iron-collapse.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='bower_components/paper-button/paper-button.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='bower_components/paper-card/paper-card.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='bower_components/paper-input/paper-input.html') }}" />
{% endblock %}
{% block body %}
  <div class="top-buttons">
    <a href="{{ url_for('proxyserver_add') }}">
      <paper-button raised class="anchor-button">Add New Proxy Server
      </paper-button></a>
    <br />
  </div>
  <div id="proxy-card-holder">
  {% for proxy_server in proxy_servers %}
    <paper-card heading="{{ proxy_server.name }}">
      <div class="card-content">
        <p>{{ proxy_server.ip_address }}</p>
        <paper-button onclick="toggleCollapse('collapse-{{loop.index}}')">Show/hide SSH Keys</paper-button>
        <iron-collapse id="collapse-{{loop.index}}">
          <h3>Public Key (for verification)</h3>
          <pre style="width:600px; overflow: auto; word-wrap: break-word;">{{proxy_server.public_key}}</pre>

          <h3>Private Key (for authentication)</h3>
          <pre style="width:600px; overflow: auto; word-wrap: break-word;">{{proxy_server.private_key}}</pre>
        </iron-collapse>
      </div>
      <div class="card-actions">
        <a href="{{ url_for('proxyserver_edit', server_id=proxy_server.id) }}">
          <paper-button class="anchor-button">Edit</paper-button></a>
        <a href="{{ url_for('proxyserver_delete', server_id=proxy_server.id) }}">
          <paper-button class="anchor-button">Delete</paper-button></a>
      </div>
    </paper-card>
  {% endfor %}
  </div>
{% endblock %}
