{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block body %}
  <paper-display-template resources="{{user_resources}}">
    <list-items resources="{{user_resources}}" id="userList" ajax-response="{{user_items}}">
    </list-items>
  </paper-display-template>
  <paper-display-template resources="{{proxy_server_resources}}">
    <list-items resources="{{proxy_server_resources}}" id="proxyList" ajax-response="{{proxy_server_items}}">
    </list-items>
  </paper-display-template>
  <input type="hidden" id="globalXsrf" value="{{xsrf_token()}}">
{% endblock %}
