{% extends "base.html" %}
{% block title %}Setup{% endblock %}
{% block body %}
  <paper-display-template id="oauthDisplayTemplate">
    <header-container resources="{{resources}}" header-type="oauth">
      <oauth-configuration resources="{{resources}}" configuration="{{oauth_configuration_resources}}">
      </oauth-configuration>
    </header-container>
  </paper-display-template>

  <paper-display-template id="userDisplayTemplate">
    <left-icon-container resources="{{resources}}" add-type="user">
      <user-add-tabs resources="{{resources}}">
      </user-add-tabs>
    </left-icon-container>
  </paper-display-template>

  <paper-display-template id="proxyServerDisplayTemplate">
    <left-icon-container resources="{{resources}}" add-type="proxyServer">
      <server-add-form resources="{{resources}}">
      </server-add-form>
    </left-icon-container>
  </paper-display-template>

  {% if session['domain'] %}
    <paper-display-template id="chromePolicyDisplayTemplate">
      <header-container resources="{{resources}}" header-type="chromePolicy">
        <chrome-policy resources="{{resources}}">
        </chrome-policy>
      </header-container>
    </paper-display-template>
  {% endif %}

  <paper-display-template id="settingsDisplayTemplate">
    <header-container resources="{{resources}}" header-type="settings">
      <settings-configuration resources="{{resources}}">
      </settings-configuration>
    </header-container>
  </paper-display-template>
{% endblock %}
