{% extends "base.html" %}
{% block title %}Setup{% endblock %}
{% block body %}
  <paper-display-template resources="{{user_resources}}">
    <form-container-with-left-icon resources="{{user_resources}}">
      <user-add-tabs resources="{{user_resources}}">
      </user-add-tabs>
    </form-container-with-left-icon>
  </paper-display-template>

  <paper-display-template resources="{{proxy_server_resources}}">
    <form-container-with-left-icon resources="{{proxy_server_resources}}">
      <server-add-form resources="{{proxy_server_resources}}">
      </server-add-form>
    </form-container-with-left-icon>
  </paper-display-template>

  <paper-display-template resources="{{oauth_resources}}">
    <header-container resources="{{oauth_resources}}">
      <oauth-configuration resources="{{oauth_resources}}">
      </oauth-configuration>
    </header-container>
  </paper-display-template>

  <paper-display-template resources="{{policy_resources}}">
    <header-container resources="{{policy_resources}}">
      <chrome-policy resources="{{policy_resources}}">
      </chrome-policy>
    </header-container>
  </paper-display-template>

  <paper-display-template resources="{{policy_config_resources}}">
    <header-container resources="{{policy_config_resources}}">
      <chrome-policy-configuration resources="{{policy_config_resources}}">
      </chrome-policy-configuration>
    </header-container>
  </paper-display-template>

  <!-- Remove this when it's properly in the base.html or provided any other ways. -->
  <input type="hidden" id="globalXsrf" value="{{xsrf_token()}}">
{% endblock %}
