{% extends "base.html" %}
{% block title %}Setup{% endblock %}
{% block body %}

  <paper-display-template resources="{{user_resources}}">
    <form-container-with-left-icon resources="{{user_resources}}">
      <user-add-tabs resources="{{user_resources}}">
      </user-add-tabs>
    </form-container-with-left-icon>
  </paper-display-template>

  <br>

  <paper-display-template resources="{{proxy_server_resources}}">
    <form-container-with-left-icon resources="{{proxy_server_resources}}">
      <server-add-form resources="{{proxy_server_resources}}">
      </server-add-form>
    </form-container-with-left-icon>
  </paper-display-template>

  <br>

  <paper-display-template resources="{{oauth_resources}}">
    <oauth-configuration resources="{{oauth_resources}}">
    </oauth-configuration>
  </paper-display-template>

  <br>

  <paper-display-template resources="{{policy_resources}}">
    <chrome-policy resources="{{policy_resources}}">
    </chrome-policy>
  </paper-display-template>

  <br>

  <paper-card heading="Adjust Config Values">
    <div class="card-content">
      <form id="policy-config-form" method="post"
        action="{{ url_for('edit_policy_config') }}">
        <ufo-toggle-input input-name="enforce_proxy_server_validity" button-text="Enforce Proxy Server Check from Invitation Link" {% if enforce_proxy_server_validity %}checked{% endif %}></ufo-toggle-input>
        <br>
        <ufo-toggle-input input-name="enforce_network_jail" button-text="Enforce Network Jail Before Google Login" {% if enforce_network_jail %}checked{% endif %}></ufo-toggle-input>
        <br>
        <input type="hidden" name="_xsrf_token" value="{{ xsrf_token() }}">
      </form>
    </div>
    <div class="card-actions">
      <paper-button onclick="submitByFormId('policy-config-form')" class="form-submit-button" type="submit">
        Save
      </paper-button>
    </div>
  </paper-card>
  <!-- Remove this when it's properly in the base.html or provided any other ways. -->
  <input type="hidden" id="globalXsrf" value="{{xsrf_token()}}">
{% endblock %}
