{% extends "layout.html" %}
{% block title %}User Details{% endblock %}
{% block head %}
  <link rel="import" href="{{ url_for('static', filename='bower_components/iron-collapse/iron-collapse.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='bower_components/paper-button/paper-button.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='bower_components/paper-card/paper-card.html') }}" />
{% endblock %}
{% block body %}
  {% set xsrf_token_value = xsrf_token() %}
  <div id="user-card-holder">
    <paper-card heading="{{ user.name }}">
      <div class="card-content">
        <p>{{ user.name }}, {{ user.email }}</p>
        <p>Access Status: <b>
          {% if user.is_key_revoked %}
            Disabled
          {% else %}
            Enabled
          {% endif %}
        </b></p>
        <paper-button onclick="toggleCollapse('collapse-pri')">Show/hide SSH Private Key</paper-button>
        <iron-collapse id="collapse-pri"><div><textarea rows="20" cols="80">
          {{ user.private_key }}</textarea></div></iron-collapse><br>
        <paper-button onclick="toggleCollapse('collapse-pub')">Show/hide SSH Public Key</paper-button>
        <iron-collapse id="collapse-pub"><div><textarea rows="20" cols="80">
          {{ user.public_key }}</textarea></div></iron-collapse>
      </div>
      <div class="card-actions">
        <form id="user-delete-form" method="post" action="{{ url_for('delete_user', user_id=user.id) }}">
          <input type="hidden" name="_xsrf_token" value="{{ xsrf_token_value }}">
          <paper-button raised onclick="submitByFormId('user-delete-form')" class="form-submit-button" type="submit">
            Delete User
          </paper-button>
        </form>
        <form id="user-get-new-key-pair-form" method="post" action="{{ url_for('user_get_new_key_pair', user_id=user.id) }}">
          <input type="hidden" name="_xsrf_token" value="{{ xsrf_token_value }}">
          <paper-button raised onclick="submitByFormId('user-get-new-key-pair-form')" class="form-submit-button" type="submit">
            Rotate Key Pair
          </paper-button>
        </form>
        <form id="user-toggle-revoked-form" method="post" action="{{ url_for('user_toggle_revoked', user_id=user.id) }}">
          <input type="hidden" name="_xsrf_token" value="{{ xsrf_token_value }}">
          <paper-button raised onclick="submitByFormId('user-toggle-revoked-form')" class="form-submit-button" type="submit">
            {% if user.is_key_revoked %}
              Enable
            {% else %}
              Disable
            {% endif %} Access
          </paper-button>
        </form>
      </div>
    </paper-card>
    {% if invite_url %}
      <paper-card heading="Invite Code URL Below">
        <a href="{{ invite_url }}"><paper-button raised class="anchor-button">Invite Code URL</paper-button></a>
        <p><textarea rows="20" cols="80">{{ invite_url }}</textarea></p>
      </paper-card>
    {% endif %}
  </div>
{% endblock %}
