{% extends "layout.html" %}
{% block title %}User Details{% endblock %}
{% block head %}
  <link rel="import" href="{{ url_for('static', filename='bower_components/paper-button/paper-button.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='bower_components/paper-card/paper-card.html') }}" />
  <link rel="import" href="{{ url_for('static', filename='collapseButton.html') }}" />
{% endblock %}
{% block body %}
  {% set xsrf_token_value = xsrf_token() %}
  <div id="user-card-holder">
    <paper-card heading="{{ user.name }}">
      <div class="card-content">
        <p>{{ user.name }}, {{ user.email }}</p>
        <p>Access Status: <b>
          {% if user.is_key_revoked %}
            Disabled
          {% else %}
            Enabled
          {% endif %}
        </b></p>
        <ufo-collapse-button label="SSH Private Key" button-text="Show/hide SSH Private Key" collapse-text="{{ user.private_key }}"></ufo-collapse-button>
        <br>
        <ufo-collapse-button label="SSH Public Key" button-text="Show/hide SSH Public Key" collapse-text="{{ user.public_key }}"></ufo-collapse-button>
      </div>
      <div class="card-actions">
        <form id="user-delete-form" method="post" action="{{ url_for('delete_user', user_id=user.id) }}">
          <input type="hidden" name="_xsrf_token" value="{{ xsrf_token_value }}">
          <paper-button raised onclick="submitByFormId('user-delete-form')" class="form-submit-button" type="submit">
            Delete User
          </paper-button>
        </form>
        <form id="user-get-new-key-pair-form" method="post" action="{{ url_for('user_get_new_key_pair', user_id=user.id) }}">
          <input type="hidden" name="_xsrf_token" value="{{ xsrf_token_value }}">
          <paper-button raised onclick="submitByFormId('user-get-new-key-pair-form')" class="form-submit-button" type="submit">
            Rotate Key Pair
          </paper-button>
        </form>
        <form id="user-toggle-revoked-form" method="post" action="{{ url_for('user_toggle_revoked', user_id=user.id) }}">
          <input type="hidden" name="_xsrf_token" value="{{ xsrf_token_value }}">
          <paper-button raised onclick="submitByFormId('user-toggle-revoked-form')" class="form-submit-button" type="submit">
            {% if user.is_key_revoked %}
              Enable
            {% else %}
              Disable
            {% endif %} Access
          </paper-button>
        </form>
      </div>
    </paper-card>
    {% if invite_code %}
      <paper-card heading="Invite Code Below">
        <textarea rows="20" cols="80">{{ invite_code }}</textarea><br>
      </paper-card>
    {% endif %}
  </div>
{% endblock %}
