[MASTER]

# Could turn errors only on if necessary, leave off for now.
# errors-only=yes

# Ignore migrations directory
ignore=migrations

[FORMAT]

# String used as indentation unit. This is usually " " (4 spaces) or "\t" (1
# tab). We use two spaces however.
indent-string='  '

# lower_with_underscore setting for method names.
method-rgx=([a-z_][a-z0-9_]{2,30})$

# lower_with_underscore setting for function names.
function-rgx=([a-z_][a-z0-9_]{2,30})$
